<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">דף הבית</a></li>
        <li><a href="/about">אודותינו</a></li>
        <li><a href="/press">בתקשורת</a></li>
        <li class="active"><a href="/politics">בכנסת</a></li>
      </ul>
      <ul class="nav nav-pills navbar-left">
        <li role="presentation" class="active"><a href="/join">הצטרפ/י למעגל התומכים</a></li>
        <li role="presentation" class="active"><a href="/support">תרומה כספית</a></li>
        <!--<li>- או -</li>-->
        <!--<li role="presentation"><a href="mailto:hello@horimshavim.co.il">hello@horimshavim.co.il</a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

<style>
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>


<% @articles.each do |article| %>
    <div itemscope itemtype="http://schema.org/LocalBusiness" class="mainWrapper">
      <article class="text-center">
        <header>
          <%= article.channel %> - <%= article.title %> - <%= article.date %>
        </header>
        <p class="subtitle">
          <%=raw article.embed_code %>
        </p>
      </article>
    </div>
    <br />
<% end %>

