<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">דף הבית</a></li>
        <li><a href="/about">אודותינו</a></li>
        <li><a href="/press">בתקשורת</a></li>
        <li class="active"><a href="/politics">בכנסת</a></li>
      </ul>
      <ul class="nav nav-pills navbar-left">
        <li role="presentation" class="active"><a href="https://docs.google.com/a/horimshavim.co.il/forms/d/e/1FAIpQLSfhzqYJIac2TrmISYbFMyMXh4PeSnT24Zooeeq1RQsz1-Br3A/viewform">הצטרפות</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

<div itemscope itemtype="http://schema.org/LocalBusiness" class="mainWrapper">
  <article class="text-center">
    <header class="title">
      בבניה
    </header>
  </article>

</div>

<!-- jQuery & bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81145635-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
