<div class="mainWrapper">
  <div>
    <img class="center-block titleImage" src="images/title.jpg" alt="הורים שווים" />
  </div>

  <article class="text-center">
    <header class="title">
      מי אנחנו?
    </header>
    <p class="subtitle">אנו קבוצת הורים המוחים על פגיעת חוקי הגירושין בנו ובילדינו.</p>
    <p class="subtitle">ביננו אנשי אקדמיה, אנשי תקשורת, אנשי רוח, עובדי המגזר הציבורי, אנשי צבא, סוחרים, נהגים, טבחים, רופאים, אנשי היי טק, מדענים, ועוד.</p>
  </article>


  <article class="text-center">
    <header class="title">
      על מה אנחנו מוחים?
    </header>
    <p class="subtitle">יש לנטוש את חלוקת התפקידים המגדרית במשפחה, על פיה הטיפול בילדים מוטל על נשים והאחריות הכלכלית מוטלת על הגברים.</p>
    <p class="subtitle">הממשל בישראל מכיר בעוולות שגורמת המערכת לאבות הגרושים והוא נתן לכך ביטוי בהקמת ועדות ממשלתיות שהוקמו לבחינת הנושא:</p>
    <p class="subtitle">שניט לבחינת נושאי משמורת ואחריות הורית; שיפמן לבחינת נושאי מזונות ואחריות כלכלית.</p>
    <p class="subtitle">אף אחת מההמלצות ועדות אלה לא הגיעה לכדי חקיקה.</p>

  </article>


  <article>
    <header class="title">
      ביטול חזקת הגיל הרך
    </header>
    <p class="subtitle text-center">על פי החוק בישראל, בעת גירושין, ילד עד גיל 6 יהיה בחזקת אמו</p>
    <ul>
      <li>
        יותר גברים מגלים אחריות הורית בנישואין כפי שמצופה מהם בחברה. לא יתכן שמצב זה ישתנה כאשר עוברים הליך גירושין.
      </li>
      <li>טובת הילד היא מעורבות שני הוריו, גם בעת הנישואין ובעיקר בעת הגירושין.</li>
      <li>ועדה ממשלתית (ועדת שניט) דנה בנושא וקבעה חד משמעית שיש לבטל חוק זה אך המלצותיה לא יושמו.</li>
      <li>
        מדינת ישראל היא אחת משתי המדינות היחידות בעולם שחזקת הגיל הרך קיימת בה. בכל שאר מדינות העולם החזקה הזו בוטלה במהלך שנות ה-70 וה-80 של המאה הקודמת.
      </li>
    </ul>
  </article>


  <article>
    <header class="title">
      חישוב הוגן של מזונות בעת גירושין
    </header>
    <p class="subtitle text-center">בישראל במאה ה-21 אין חוק המסדיר את נושא המזונות.</p>
    <ul>
      <li>מכיוון שאין חוק בעניין זה, מערכת בתי המשפט נסמכת על חוקי ההלכה בפסיקתה.</li>
      <li>על פי חוקי ההלכה, נשים אינן אחראיות לכלכלת ילדיהן ללא קשר להכנסתן.</li>
      <li>תפיסה זו חלפה מהעולם והיא מבזה את המין הנשי.</li>
      <li>
        יותר אבות מגלים אחריות הורית שווה ואף מעבר לכך בנישואין ובגירושין. פסיקת המזונות מביאה אבות רבים למצב שאין בידיהם לכלכל את הילדים שנמצאים אצלם כתוצאה מכך הילדים הם הנפגעים העיקריים.
      </li>
      <li>
        ועדה ממשלתית (ועדת שיפמן) דנה ופרסמה המלצות בנושא, אך המלצותיה לא יושמו בחוק.
      </li>
    </ul>
  </article>


  <article>
    <header class="title">
      יישום התיקון בנושא תלונות-שווא
    </header>
    <p class="subtitle text-center">בישראל הגשת תלונות שווא על ידי נשים היא חוקית בפועל</p>
    <ul>
      <li>תלונות למשטרה המוכחות כתלונות שווא אינן מטופלות על ידי מערכת האכיפה.</li>
      <li>החוק בישראל מספק לבני הזוג המתגרשים כלי נשק קטלניים זה כנגד זה.</li>
      <li>תלונות השווא מביאות שוב ושוב למעצרם של אבות וגורמת להרס נפשי ומקצועי שלהם.</li>
      <li>לאחרונה תוקן החוק, אך מפרקליטות המדינה נמסר שלא יהיה שינוי במדיניות בנושא.</li>
      <li>אנו דורשים יישום של התיקון בחוק, על בסיס הדוח המקצועי שפורסם בנושא.</li>
    </ul>
  </article>

</div>

<!-- jQuery & bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>