<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">דף הבית</a></li>
        <li><a href="/about">אודותינו</a></li>
        <li><a href="/press">בתקשורת</a></li>
        <li><a href="/politics">בכנסת</a></li>
      </ul>
      <ul class="nav nav-pills navbar-left">
        <li role="presentation" class="active"><a href="/join">הצטרפ/י למעגל התומכים</a></li>
        <li role="presentation" class="active"><a href="/support">תרומה כספית</a></li>
        <!--<li>- או -</li>-->
        <!--<li role="presentation"><a href="mailto:hello@horimshavim.co.il">hello@horimshavim.co.il</a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

<div itemscope itemtype="http://schema.org/LocalBusiness" class="mainWrapper">
  <div>
    <img itemprop="image" class="center-block titleImage" src="images/title.jpg" alt="הורים שווים" />
  </div>

  <div class="row">
    <h3 class="text-center col-sm-12">
      <a href="https://www.facebook.com/parental.equality.israel" target="_blank">
          <img src="images/facebook29.png" alt="פייסבוק" />
          לעדכונים עקבו אחרינו בפייסבוק
      </a>
    </h3>
  </div>

  <article class="text-center">
    <header class="title">
      מי אנחנו?
    </header>
    <p class="subtitle">אנו קבוצת הורים המוחים על פגיעת חוקי הגירושין בנו ובילדינו.</p>
    <p class="subtitle">ביננו אנשי אקדמיה, אנשי תקשורת, אנשי רוח, עובדי המגזר הציבורי, אנשי צבא, סוחרים, נהגים, טבחים, רופאים, אנשי היי טק, מדענים, ועוד.</p>
  </article>


  <article class="text-center">
    <header class="title">
      על מה אנחנו מוחים?
    </header>
    <p class="subtitle">יש לנטוש את חלוקת התפקידים המגדרית במשפחה, על פיה הטיפול בילדים מוטל על נשים והאחריות הכלכלית מוטלת על הגברים.</p>
    <p class="subtitle">הממשל בישראל מכיר בעוולות שגורמת המערכת לאבות הגרושים והוא נתן לכך ביטוי בהקמת ועדות ממשלתיות שהוקמו לבחינת הנושא:</p>
    <p class="subtitle">שניט לבחינת נושאי משמורת ואחריות הורית; שיפמן לבחינת נושאי מזונות ואחריות כלכלית.</p>
    <p class="subtitle">אף אחת מההמלצות ועדות אלה לא הגיעה לכדי חקיקה.</p>

  </article>


  <article>
    <header class="title">
      ביטול חזקת הגיל הרך
    </header>
    <p class="subtitle text-center">על פי החוק בישראל, בעת גירושין, ילד עד גיל 6 יהיה בחזקת אמו</p>
    <ul>
      <li>
        יותר גברים מגלים אחריות הורית בנישואין כפי שמצופה מהם בחברה. לא יתכן שמצב זה ישתנה כאשר עוברים הליך גירושין.
      </li>
      <li>טובת הילד היא מעורבות שני הוריו, גם בעת הנישואין ובעיקר בעת הגירושין.</li>
      <li>ועדה ממשלתית (ועדת שניט) דנה בנושא וקבעה חד משמעית שיש לבטל חוק זה אך המלצותיה לא יושמו.</li>
      <li>
        מדינת ישראל היא אחת משתי המדינות היחידות בעולם שחזקת הגיל הרך קיימת בה. בכל שאר מדינות העולם החזקה הזו בוטלה במהלך שנות ה-70 וה-80 של המאה הקודמת.
      </li>
    </ul>
  </article>


  <article>
    <header class="title">
      חישוב הוגן של מזונות בעת גירושין
    </header>
    <p class="subtitle text-center">בישראל במאה ה-21 אין חוק המסדיר את נושא המזונות.</p>
    <ul>
      <li>מכיוון שאין חוק בעניין זה, מערכת בתי המשפט נסמכת על חוקי ההלכה בפסיקתה.</li>
      <li>על פי חוקי ההלכה, נשים אינן אחראיות לכלכלת ילדיהן ללא קשר להכנסתן.</li>
      <li>תפיסה זו חלפה מהעולם והיא מבזה את המין הנשי.</li>
      <li>
        יותר אבות מגלים אחריות הורית שווה ואף מעבר לכך בנישואין ובגירושין. פסיקת המזונות מביאה אבות רבים למצב שאין בידיהם לכלכל את הילדים שנמצאים אצלם כתוצאה מכך הילדים הם הנפגעים העיקריים.
      </li>
      <li>
        ועדה ממשלתית (ועדת שיפמן) דנה ופרסמה המלצות בנושא, אך המלצותיה לא יושמו בחוק.
      </li>
    </ul>
  </article>


  <article>
    <header class="title">
      יישום התיקון בנושא תלונות-שווא
    </header>
    <p class="subtitle text-center">בישראל הגשת תלונות שווא על ידי נשים היא חוקית בפועל</p>
    <ul>
      <li>תלונות למשטרה המוכחות כתלונות שווא אינן מטופלות על ידי מערכת האכיפה.</li>
      <li>החוק בישראל מספק לבני הזוג המתגרשים כלי נשק קטלניים זה כנגד זה.</li>
      <li>תלונות השווא מביאות שוב ושוב למעצרם של אבות וגורמת להרס נפשי ומקצועי שלהם.</li>
      <li>לאחרונה תוקן החוק, אך מפרקליטות המדינה נמסר שלא יהיה שינוי במדיניות בנושא.</li>
      <li>אנו דורשים יישום של התיקון בחוק, על בסיס הדוח המקצועי שפורסם בנושא.</li>
    </ul>
  </article>

  <article>
      <header class="title">
          צרו קשר
      </header>
      <div class="row">
          <div class="col-md-11">
              <p itemprop="name">תנועת הורים שווים</p>
              <p><a href="mailto:lior.gallo@horimshavim.co.il"><span itemprop="email">lior.gallo@horimshavim.co.il</span></a></p>
              <p><a href="tel:054-2644923"><span itemprop="telephone">054-2644923</span></a></p>
              <!--<p>-->
                  <!--&lt;!&ndash;<a href="https://www.facebook.com/parental.equality.israel" target="_blank">&ndash;&gt;-->
                      <!--&lt;!&ndash;<img src="images/facebook29.png" alt="פייסבוק" />&ndash;&gt;-->
                      <!--&lt;!&ndash;עמוד הפייסבוק שלנו&ndash;&gt;-->
                  <!--&lt;!&ndash;</a>&ndash;&gt;-->
              <!--</p>-->
          </div>

          <!--<form class="col-md-6">-->
              <!--<div class="form-group">-->
                  <!--<label for="txtName">שם:</label>-->
                  <!--<input type="text" class="form-control" id="txtName" placeholder="שם">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                  <!--<label for="txtPhone">טלפון:</label>-->
                  <!--<input type="text" class="form-control" id="txtPhone" placeholder="טלפון">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                  <!--<label for="txtEmail">אימייל:</label>-->
                  <!--<input type="email" class="form-control" id="txtEmail" placeholder="אימייל">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                  <!--<label for="txtLocation">אזור בארץ:</label>-->
                  <!--<input type="text" class="form-control" id="txtLocation" placeholder="אזור בארץ">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                  <!--<label for="exampleInputPassword1">כיצד תוכל לעזור:</label>-->
                  <!--<textarea class="form-control" id="exampleInputPassword1" placeholder="כיצד תוכל לעזור?"></textarea>-->
              <!--</div>-->
              <!--<button type="submit" class="btn btn-primary">שלח</button>-->
          <!--</form>-->


      </div>
  </article>

  <article>
    <header class="title">
      תמכו בנו
    </header>
    <div class="row">

      <iframe src="https://docs.google.com/a/horimshavim.co.il/forms/d/e/1FAIpQLSfhzqYJIac2TrmISYbFMyMXh4PeSnT24Zooeeq1RQsz1-Br3A/viewform?embedded=true" height="1500" width="100%" frameborder="0" marginheight="0" marginwidth="0">טוען...</iframe>
    </div>
  </article>

</div>

<!-- jQuery & bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81145635-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
