<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">דף הבית</a></li>
        <li class="active"><a href="/about">אודותינו</a></li>
        <li><a href="/press">בתקשורת</a></li>
        <li><a href="/politics">בכנסת</a></li>
      </ul>
      <ul class="nav nav-pills navbar-left">
        <li role="presentation" class="active"><a href="/join">הצטרפ/י למעגל התומכים</a></li>
        <li role="presentation" class="active"><a href="/support">תרומה כספית</a></li>
        <!--<li>- או -</li>-->
        <!--<li role="presentation"><a href="mailto:hello@horimshavim.co.il">hello@horimshavim.co.il</a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

<div itemscope itemtype="http://schema.org/LocalBusiness" class="mainWrapper">
  <article class="text-center">
    <p>
      ״הורים שווים״ היא עמותה התנדבותית שהוקמה על ידי קבוצת הורים שנחשפו למערכת החוקים והתקנות בתחום דיני המשפחה בישראל. מטרת העמותה היא לשנות את החקיקה והפסיקה כך שתתבסס על טובת הילד, צדק ושוויון. מאהל המחאה שהקימה העמותה מול כנסת ישראל הציב בלב הדיון הציבורי את האתגרים העומדים בפני המערכת. פעילותנו מתרכזת ביצירת תודעה ציבורית וחברתית ובהובלת שינוי של החקיקה המפלה והלא שיויונית באמצעות חברי כנסת ואישי ציבור מרכזיים. אנו חותרים לעיגון חקיקתי של אחריות הורית משותפת ושוויונית, חלוקת המשאבים הכלכליים בהתאם ומיגור תלונות השווא הרבות בתחום.
    </p>
  </article>

</div>